body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    color: orange;
}

#board-container {
    display: inline-block;
    margin: 20px auto;
}

.cell {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 2px;
    background-color: grey;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    color: white;
    position: relative;
}

.cell.player {
    background-color: green; /* Játékos mezője */
}

.cell.movable {
    background-color: yellow; /* Léphető mezők */
    color: black; /* Fekete szöveg a sárga mezőkön */
}

.cell.not-movable {
    background-color: red; /* Nem léphető mezők */
}

.fruit-tree {
    background-color: grey;
}

.empty-tree {
    background-color: darkgrey;
}

#info-panel {
    margin-top: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    background-color: orange;
    color: black;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}
