body {
    font-family: "Kanit", sans-serif;
    background-color: #191c2c;
    color: #b0b6e0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #b0b6e0;
}

canvas {
    border: 1px solid #b0b6e0;
    background-color: #383f6b;
}

.controls {
    margin-top: 20px;
}

.factory-buttons {
    margin-top: 10px;
}

button {
    padding: 10px;
    margin: 5px;
    background-color: #383f6b;
    color: #b0b6e0;
    border: 1px solid #43486e;
    cursor: pointer;
}

button:hover {
    background-color: #606692;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

select {
    padding: 10px;
    margin-right: 10px;
    background-color: #383f6b;
    color: #b0b6e0;
    border: 1px solid #b0b6e0;
}